<nav id="sidebar">
  <ul class="list-unstyled components">
    {{ $currentPage := . }}
    {{ range $index, $element := .Site.Menus.sidebar }}
      <li>
        {{ if .HasChildren }}
          <a href="#sidebar-{{ $element.Identifier }}" data-toggle="collapse" aria-expanded="false">
            {{ $element.Name }}
          </a>
          <ul class="collapse list-unstyled boss_list" id="sidebar-{{ $element.Identifier }}">
            {{ range $element.Children }}
            	<li>
            		<a class="lien_boss" href="{{ .URL | relURL }}">
                  {{ $imageUrl := (delimit (slice "/img/icon/" $element.Identifier "/" .Identifier ".png") "") }}
                  {{ $imagePath := (delimit (slice "static" $imageUrl) "") }}
                  <!-- idem with jpg -->
                  {{ $imageUrlAlt := (delimit (slice "/img/icon/" $element.Identifier "/" .Identifier ".jpg") "") }}
                  {{ $imagePathAlt := (delimit (slice "static" $imageUrlAlt) "") }}

                  {{ if fileExists $imagePath }}
              		  <img class="menu_boss_icon" src="{{ $imageUrl }}" alt="{{ .Name }}"/>
                  {{ else if fileExists $imagePathAlt }}
              		  <img class="menu_boss_icon" src="{{ $imageUrlAlt }}" alt="{{ .Name }}"/>
                  {{ end }}

              		{{ .Name }}
                </a>
          	</li>
            {{ end }}
          </ul>
        {{ else }}
          <a href="{{ $element.URL | relURL }}">
            {{ $element.Name }}
          </a>
        {{ end }}
      </li>
    {{ end }}
  </ul>
</nav>
